
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Press Start 2p", cursive;
  background: #A40FF6;
  background: linear-gradient(
    90deg,
    #A40FF6,
    #A40FF6
  );
 
}
.transaction-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 30vh;
  margin: 0;
}

.contain {
  margin: 30px auto;
  width: 200px;
}

p{
  color: #A40FF6;
}

.text {
  position: absolute;
  top: 30%;
  left: 60%;
  transform: translate(-50%, -50%);
  color:white
}


h1 {
  letter-spacing: 1px;
  margin: 0;
}

h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;

}

h4 {
  margin: 0;
  text-transform: uppercase;
}
.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  color: #ba2ecc;
}

.money.minus {
  color: #c0392b;
}
delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.list li:hover .delete-btn {
  opacity: 1;
}
.btn {
  cursor: pointer;
  background-color: #9c88ff;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}
/* button {
  font-family: "Press Start 2p", cursive;
  font-size: 1rem;
  border: 3px solid black;
  padding: 0.5rem 1rem;
  background-color: rgba(252, 124, 124, 0.75);
  box-shadow: inset -3px -3px 0 0 rgb(252, 124, 124);
  transition: all 0.1s ease-in;
  margin: 1rem;
  cursor: pointer;
} */

/* main {
  margin: 4rem auto;
  max-width: 700px;
  height: 500px;
  min-height: 500px;
  background: white;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
}

section {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
} */
