
p{
  color: #A40FF6;
}

.text {
  position: absolute;
  top: 30%;
  left: 60%;
  transform: translate(-50%, -50%);
  color:white
}

.budgetColor{
  background-color: #A40FF6;
}
h1 {
  letter-spacing: 1px;
  margin: 0;
}

h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;

}

h4 {
  margin: 0;
  text-transform: uppercase;
}
.nav-bar{
 color:"blue"
}
