
p{
  color: #A40FF6;
}

/* .text {
  position: absolute;
  top: 30%;
  left: 60%;
  transform: translate(-50%, -50%);
  color:white
} */
.card-columns{
 
  display:flex;
  justify-content: space-around;
  padding: 3vw;
}
.add-transaction{
  margin-left: 10vw;
}
.budgetColor{
  background-color: #A40FF6;
  min-height: 100vh;
}
/* .card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 3;
    margin:0;
  }
  @include media-breakpoint-only(xl) {
    column-count: 3;
  }
} */
/* .card3{
  float:right;
  margin-top: -30%;
  margin-left: -75%;
} */
/* .container h-100{
  
  position: absolute;
  top: -20px;
} */
h1 {
  letter-spacing: 1px;
  margin: 0;
}

h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;

}

h4 {
  margin: 0;
  text-transform: uppercase;
}
.nav-bar{
 color:"blue"
}
